<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Welcome to Power City!</h2>
      <br>
      <p>Click <a href="/architecture">Architecture</a> to see app design layout</p>
      <br>
      <p>Click <a href="/GetWeatherData">GetWeatherData</a> to get required current weather data.</p>
      <br>
      <p>Click <a href="/Upload">Upload</a> to upload maintenance schedule file.</p>
      <br>
      <p>Click <a href="/Predict">Predict</a> to see predicted data.</p>
      <br>
      <p>Click <a href="/Recalculate">Update</a> to get view the updated data based on your uploaded maintenance schedule.</p>
      <br>
      <p>Click <a href="/Dashboard/">Dashboard</a> to view dashboard</p>
    </div>
  </body>
</html>